@{
    ViewBag.Title = "Home Page";
}
<div id="confirmpurgeshade" style="display:none; position:fixed; width:100%; height:100%; z-index:100; top:0; left:0;background: silver; opacity: 0.5; filter: alpha(opacity=50); ">
    
</div>
<div id="confirmpurgescreen" style="display:none; position:fixed; top: 40%; left: 40%; width: 25%; background: #FFF; z-index:101; border: 1px solid #000;">
    <label id="confirmpurgetext" style="color:#000;"></label>
    <div style="padding-top:1em;">
        <input type="button" id="confirmpurge" value="Agree" class="fancy" style="float:left;"/>
        <input type="button" id="denypurge" value="Deny" class="fancy" style="float:right;" />
    </div>
</div>
<div id="awaitpurgeconfirm" style="display:none; position:fixed; top: 40%; left: 40%; width: 25%; background: #FFF; z-index:101; border: 1px solid #000;">
    <label style="color:#000;">Your request has been submitted...</label>
    <div style="padding-top:1em;">
        <input type="button" id="cancelpurge" value="Cancel" class="fancy" style="float:left;"/>
    </div>
</div>
<div class="restaurant-suggestion">
    <h2>Suggest a Restaurant</h2>
    <input type="text" id="suggestion" placeholder="Restaurant Name" />
    <input type="button" id="suggestlocation" value="Suggest" class="fancy" />
    <input type="button" id="purgedata" value="Clear All Votes" />
    <input type="hidden" id="displayname" />
</div>
<div class="restaurant-list">
    <h2>Vote for a Restaurant</h2>
    <ul id="suggestions">
    </ul>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var lunch = $.connection.lunchHub;
            lunch.client.RefreshVotes = function (votes) {
                $('#suggestions').empty();
                for (var i = 0; i < votes.length; i++) {
                    var voters = votes[i].VoterNames;
                    var element = '<li><span class="restaurant" title="Voted for by: ' + voters.join() + '">'
                        + htmlEncode(votes[i].RestaurantName)
                    + ' : ' + votes[i].VoterNames.length + '</span> '

                    
                    for (var j = 0; j < voters.length; j++) {
                        if (voters[j] === $('#displayname').val()) {
                            element += '<span class="unvote"> &#10006;</span>';
                            break;
                        }
                      }
                    element += '</li>';
                    
                    $('#suggestions').append(element);
                }
            };

            $('#denypurge').click(function () {
                hideOverlays();
            });

            function hideOverlays() {
                $('#confirmpurgeshade').hide();
                $('#awaitpurgeconfirm').hide();
                $('#confirmpurgescreen').hide();
            }

            lunch.client.cancelClearRequest = hideOverlays;

            lunch.client.RequestClear = function (requester) {
                $('#confirmpurgetext').text(requester + " wants to clear all votes. Do you agree?");
                $('#confirmpurgeshade').show();
                $('#confirmpurgescreen').show();
            };

            $.connection.hub.start().done(function () {
                $('#suggestlocation').click(function () {
                    lunch.server.voteForRestaurant($('#displayname').val(), $('#suggestion').val());
                    $('#suggestion').val('').focus();
                });
                $('#suggestions').on('click', 'li span.restaurant', function (ev) {
                    var restaurant = $(this).text().split(' : ', 1)[0];
                    lunch.server.voteForRestaurant($('#displayname').val(), restaurant);
                    $('#suggestion').val('').focus();
                });
                $('#suggestions').on('click', 'li span.unvote', function (ev) {
                    var restaurant = $(this).prev().text().split(' : ', 1)[0];
                    lunch.server.unVoteForRestaurant($('#displayname').val(), restaurant);
                    $('#suggestion').val('').focus();
                });
                $('#purgedata').click(function () {
                    lunch.server.requestClearVotes($('#displayname').val());
                    $('#confirmpurgeshade').show();
                    $('#awaitpurgeconfirm').show();
                });
                $('#confirmpurge').click(function () {
                    lunch.server.confirmClearVotes();
                    $('#suggestion').val('').focus();
                });
                $('#cancelpurge').click(function () {
                    lunch.server.cancelClearVotes();
                    hideOverlays();
                });
                lunch.server.getVotes();

                // Get the user name and store it to prepend to messages.
                $('#displayname').val(prompt('Enter your name:', ''));
                $('#suggestion').focus();
            });

            
        });
        
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}