@{
    ViewBag.Title = "Lunch Train";
}
<div id="confirmpurgeshade" style="display:none; position:fixed; width:100%; height:100%; z-index:100; top:0; left:0;background: silver; opacity: 0.5; filter: alpha(opacity=50); ">
    
</div>
<div id="confirmpurgescreen" style="display:none; position:fixed; top: 40%; left: 40%; width: 25%; background: #FFF; z-index:101; border: 1px solid #000;">
    <label id="confirmpurgetext" style="color:#000;"></label>
    <div style="padding-top:1em;">
        <input type="button" id="confirmpurge" value="Agree" class="fancy" style="float:left;"/>
        <input type="button" id="denypurge" value="Deny" class="fancy" style="float:right;" />
    </div>
</div>
<div id="awaitpurgeconfirm" style="display:none; position:fixed; top: 40%; left: 40%; width: 25%; background: #FFF; z-index:101; border: 1px solid #000;">
    <label style="color:#000;">Your request has been submitted...</label>
    <div style="padding-top:1em;">
        <input type="button" id="cancelpurge" value="Cancel" class="fancy" style="float:left;"/>
    </div>
</div>
<div class="restaurant-suggestion">
    <h2>Suggest a Restaurant</h2>
    <input type="text" id="suggestion" placeholder="Restaurant Name" maxlength="16" />
    <input type="button" id="suggestlocation" value="Suggest" class="fancy" />
    <input type="button" id="purgedata" value="Clear All Votes" />
    <input type="hidden" id="displayname" value="@ViewBag.DisplayName"/>
</div>
<div class="restaurant-list">
    <h2>Vote for a Restaurant</h2>
    <div id="suggestions">
        <svg  fill="#494a4a"></svg>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var lunch = $.connection.lunchHub;
            lunch.client.RefreshVotes = function (votes) {
                if ($('#raptorize') && (
                    $('#displayname').val().indexOf("mhussain") > -1
                    || $('#displayname').val().indexOf("mhoffman") > -1
                    || $('#displayname').val().indexOf("wfuqua") > -1
                    )) showRapter();

                var width = 420;
                var xOffset = 160;
                var chart = d3.select("#suggestions svg")
                    .attr("class", "chart")
                    .attr("width", width)
                    .attr("height", 20 * votes.length);
                var maxVote = d3.max($.map(votes, function (o) { return o.VoterNames.length; }));

                prepareChartBars(votes, chart, maxVote, width, xOffset);
                prepareChartValues(votes, chart, maxVote, width, xOffset);
                prepareChartLabels(votes, chart);
                prepareChartTooltipAndClick(votes, chart, width);
            };

            function prepareChartBars(votes, chart, maxVote, width, xOffset) {
                var x = d3.scale.linear()
                    .domain([0, maxVote])
                    .range([0, width]);

                var barData = chart.selectAll("rect.bar").data(votes);

                barData
                    .transition()
                    .duration(500)
                    .ease("quad")
                    .attr("y", function (d, i) { return i * 20; })
                    .attr("width", function (d, i) { return ((d.VoterNames.length) / maxVote) * (width - xOffset)});

                barData.enter().append("rect")
                    .attr("class", "bar")
                    .attr("y", function (d, i) { return i * 20; })
                    .attr("x", xOffset)
                    .attr("height", 20)
                    .transition()
                    .duration(500)
                    .ease("quad")
                    .attr("width", function (d, i) { return ((d.VoterNames.length) / maxVote) * (width - xOffset) });
            };

            function prepareChartValues(votes, chart, maxVote, width, xOffset) {

                var values = chart.selectAll("text.chartvalue").data(votes);

                values
                    .transition()
                    .duration(500)
                    .attr("x", xOffset)
                    .ease("quad")
                    .attr("x", function (d, i) { return (((d.VoterNames.length) / maxVote) * (width - xOffset)) + xOffset })
                    .text(function (d) { return d.VoterNames.length });

                values
                    .enter().append("text")
                    .attr("class", "chartvalue")
                    .attr("y", function (d, i) { return i * 20; })
                    .attr("x", xOffset)
                    .transition()
                    .duration(500)
                    .ease("quad")
                    .attr("x", function (d, i) { return (((d.VoterNames.length) / maxVote) * (width - xOffset)) + xOffset})
                    .attr("dx", -3)
                    .attr("dy", "16px")
                    .attr("text-anchor", "end")
                    .text(function (d) { return d.VoterNames.length });
            };

            function prepareChartLabels(votes, chart) {
                var labeldata = votes.map(function (v) { return v.RestaurantName; });
                
                chart.selectAll("text.chartlabel")
                    .data(votes)
                    .transition()
                    .duration(500)
                    .ease("quad")
                    .attr("y", function (d, i) { return i * 20; })
                    .text(function (d) {
                        if (d.VoterNames.indexOf($('#displayname').val()) >= 0) {
                            return "(x) " + d.RestaurantName;
                        } else {
                            return d.RestaurantName;
                        }
                    });
                chart.selectAll("text.chartlabel")
                    .data(votes)
                    .enter().append("text")
                    .attr("class", "chartlabel")
                    .attr("y", function (d, i) { return i * 20; })
                    .attr("x", 0)
                    .attr("dy", "16px")
                    .text(function (d) {
                        if (d.VoterNames.indexOf($('#displayname').val()) >= 0) {
                            return "(x) " + d.RestaurantName;
                        } else {
                            return d.RestaurantName;
                        }
                    });

                
            }

            function prepareChartTooltipAndClick(votes, chart, width) {
                var overlayBars = chart.selectAll("rect.overlay").data(votes);

                overlayBars
                    .attr("y", function (d, i) { return i * 20; })
                    .select("title")
                    .text(function (d) { return d.VoterNames.join(); });

                overlayBars.enter().append("rect")
                    .attr("class", "overlay")
                    .attr("height", 20)
                    .attr("width", width)
                    .attr("fill-opacity", 0)
                    .attr("y", function (d, i) { return i * 20; })
                    .on("click", function (d) {
                        if (d.VoterNames.indexOf($('#displayname').val()) >= 0) {
                            lunch.server.unVoteForRestaurant($('#displayname').val(), d.RestaurantName);
                        } else {
                            lunch.server.voteForRestaurant($('#displayname').val(), d.RestaurantName);
                        }
                    })
                    .append("title")
                    .text(function (d) { return d.VoterNames.join(); });
            }

            $('#denypurge').click(function () {
                hideOverlays();
            });

            function hideOverlays() {
                $('#confirmpurgeshade').hide();
                $('#awaitpurgeconfirm').hide();
                $('#confirmpurgescreen').hide();
            }

            lunch.client.cancelClearRequest = hideOverlays;

            lunch.client.RequestClear = function (requester) {
                $('#confirmpurgetext').text(requester + " wants to clear all votes. Do you agree?");
                $('#confirmpurgeshade').show();
                $('#confirmpurgescreen').show();
            };

            lunch.client.RedirectMe = function (target) {
                window.location = target;
            };

            $.connection.hub.start().done(function () {
                $('#suggestlocation').click(function () {
                    lunch.server.voteForRestaurant($('#displayname').val(), $('#suggestion').val());
                    $('#suggestion').val('').focus();
                });
                $('#purgedata').click(function () {
                    lunch.server.requestClearVotes($('#displayname').val());
                    $('#confirmpurgeshade').show();
                    $('#awaitpurgeconfirm').show();
                });
                $('#confirmpurge').click(function () {
                    lunch.server.confirmClearVotes();
                    $('#suggestion').val('').focus();
                });
                $('#cancelpurge').click(function () {
                    lunch.server.cancelClearVotes();
                    hideOverlays();
                });
                lunch.server.getVotes();

                // Get the user name and store it to prepend to messages.
                if ($('#displayname').val() === '') {
                    $('#displayname').val(prompt('Enter your name:', ''));
                }
                $('#suggestion').focus();
            });

            
        });
        
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
    <script id="raptorize-link" src="~/Scripts/Raptorize/jquery.raptorize.1.0.js"></script>
    <script id="raptorize">
        function showRapter() {
            $('body').raptorize({ 'enterOn': 'timer', 'delayTime': 0 });
            setTimeout(cleanUp(), 3000);
        }
    </script>
    <script>
        function cleanUp() {
            $('#raptorize').remove();
            $('#raptorize-link').remove();
        }
    </script>
}