@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<div class="container">
    <input type="text" id="suggestion" />
    <input type="button" id="suggestlocation" value="Send" />
    <input type="hidden" id="displayname" />
    <div>
        <ul id="suggestions">
        </ul>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var lunch = $.connection.lunchHub;
            lunch.client.AddSuggestionFromUser = function (name, locationId, locationName) {
                $('#suggestions').append('<li id="' + htmlEncode(locationId) + '">' + htmlEncode(locationName)
                    + ' : ' + 1 + '</li>');
            };

            lunch.client.AddVoteFromUser = function (locationId, locationName, newCount) {
                $('#' + locationId).text(locationName + ' : ' + newCount);
            }

            // Get the user name and store it to prepend to messages.
            $('#displayname').val(prompt('Enter your name:', ''));
            $('#suggestion').focus();
            
            $.connection.hub.start().done(function () {
                $('#suggestlocation').click(function () {
                    lunch.server.addSuggestion($('#displayname').val(), $('#suggestion').val());
                    $('#suggestion').val('').focus();
                });
                $('#suggestions').on('click', 'li', function (ev) {
                    lunch.server.voteForSuggestion($('#displayname').val(), $(this).text());
                    $('#suggestion').val('').focus();
                });
            });
        });
        
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}