@{
    ViewBag.Title = "Home Page";
}

<div class="restaurant-suggestion">
    <input type="text" id="suggestion" placeholder="Suggest a Restaurant" />
    <input type="button" id="suggestlocation" value="Suggest" class="fancy" />
    <input type="button" id="purgedata" value="Clear All Votes" />
    <input type="hidden" id="displayname" />
</div>
<ul id="suggestions">
</ul>

@section scripts {
    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var lunch = $.connection.lunchHub;
            lunch.client.RefreshVotes = function (voteList) {
                $('#suggestions').empty();
                var votes = eval(voteList);
                for (var i = 0; i < votes.length; i++) {
                    var voters = votes[i].VoterNames;
                    var element = '<li><span class="restaurant" title="Voted for by: ' + voters.join() + '">'
                        + htmlEncode(votes[i].RestaurantName)
                    + ' : ' + votes[i].VoterNames.length + '</span> '

                    
                    for (var j = 0; j < voters.length; j++) {
                        if (voters[j] === $('#displayname').val()) {
                            element += '<span class="unvote"> &#10006;</span>';
                            break;
                        }
                      }
                    element += '</li>';
                    
                    $('#suggestions').append(element);
                }
            };

            lunch.client.RequestClear = function (requester) {
                if (confirm(requester + " wants to clear all votes. Do you agree?")) {

                };
            };

            
            
            $.connection.hub.start().done(function () {
                $('#suggestlocation').click(function () {
                    lunch.server.voteForRestaurant($('#displayname').val(), $('#suggestion').val());
                    $('#suggestion').val('').focus();
                });
                $('#suggestions').on('click', 'li span.restaurant', function (ev) {
                    var restaurant = $(this).text().split(' : ', 1)[0];
                    lunch.server.voteForRestaurant($('#displayname').val(), restaurant);
                    $('#suggestion').val('').focus();
                });
                $('#suggestions').on('click', 'li span.unvote', function (ev) {
                    var restaurant = $(this).prev().text().split(' : ', 1)[0];
                    lunch.server.unVoteForRestaurant($('#displayname').val(), restaurant);
                    $('#suggestion').val('').focus();
                });
                $('#purgedata').click(function () {
                    lunch.server.requestClearVotes($('#displayname').val());
                    $('#suggestion').val('').focus();
                });
                lunch.server.getVotes();

                // Get the user name and store it to prepend to messages.
                $('#displayname').val(prompt('Enter your name:', ''));
                $('#suggestion').focus();
            });

            
        });
        
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}